*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	box-sizing: border-box;
}
#orbitalbrand {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 0.5rem;
	z-index: 5;
	color: white;
	font-family: monospace;
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 800;
}
#cosmos {
	// background-image: url("/assets/img/grille_20px.png");
	// background-position: left top;
	// background-repeat: repeat;
	background-color: rgba(55, 53, 78, 0.342);
	background-image: url("/assets/img/grille_20px.png"),
		// url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-41-lukestackpoole-greenland-cabin-01a.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=edea7bd428d005c4abc459db20b2e021");
		// url("https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
		url("https://www.teahub.io/photos/full/203-2032005_space-tumblr-wallpapers-high-resolution-for-free-wallpaper.jpg");
	// url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80");
	// url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/95629f34144463.56c58b1959576.jpg");

	background-position: left top, center center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	// cosmos.style.backgroundColor = "rgba(55, 53, 78, 0.342)";
	// cosmos.style.backgroundImage = "url(/assets/img/grille_20px.png)";
	// cosmos.style.backgroundPosition = "left top";
	// cosmos.style.backgroundRepeat = "repeat";
	.mobs {
		pointer-events: none;
	}
	.sob,
	.mob {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 100%;
		z-index: 2;
		.info {
			position: absolute;
			left: 200%;
			top: -100%;
			background-color: rgba(255, 255, 255, 0.5);
			display: none;
			opacity: 0;
		}
	}
	.sob:hover .info,
	.mob:hover .info {
		display: block;
		// opacity: 1;
		// transition: opacity 1s ease;
		// transition: opacity 1s ease;
		animation: displayinfo 0.5s forwards 0.2s;
	}
}
.ddd {
	perspective: 1000vh;
	#cosmos {
		// -webkit-transform-style: preserve-3d;
		// transform-style: preserve-3d;
		transform-origin: center;
		-webkit-transform: rotateX(45deg);
		transform: rotateX(45deg);
		outline: 5px solid rgba(172, 255, 47, 0.116);
		transition: 10s transform ease;
	}
}

@keyframes displayinfo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#starter {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	z-index: 5;
	background-color: rgba(240, 248, 255, 0.363);
	border-radius: 1rem;
	padding: 1rem;
	font-size: 0.9rem;
	line-height: 0.9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 2s ease;
	opacity: 1;
	.block {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.781);
		border-radius: 0.5rem;
		padding: 0;
		margin: 0;
		overflow: hidden;
		margin: 0 0 0.2rem 0;
		.ico {
			display: flex;
			justify-content: center;
			align-items: center;
			width: max-content;
			height: 100%;
			border-radius: 0.5rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			background-color: rgba(43, 255, 0, 0.63);
			padding: 0.3rem 0.3rem;
		}
		.explanation {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.3rem 0.3rem;
			background-color: rgba(0, 0, 0, 0.801);
			color: white;
		}
	}
	.texte {
		// border: 1px solid rgba(0, 0, 0, 0.781);
		padding: 0;
		margin: 0;
		margin-bottom: 0.2rem;
	}
	.start {
		// border: 1px solid rgba(0, 0, 0, 0.781);
		padding: 0.5rem;
		margin: 0;
		font-size: 2rem;
		line-height: 2rem;
		border-radius: 0.5rem;
	}
	h2 {
		color: white;
		background-color: black;
		padding: 0.5rem;
		margin: 0 0 1rem 0;
		font-size: 2rem;
		line-height: 2rem;
		border-radius: 0.5rem;
		width: 100%;
		text-align: center;
	}
}
.propulsion {
	background-color: none;
	.prop {
		border-radius: 50%;
		background-color: rgb(255, 141, 47);
		position: absolute;
		bottom: 100%;
		// width: "100%";
		// height: "50%";
	}
	&.prop-2 {
		.prop {
			animation: 1s 0s infinite reverse animate__prop1;
		}
	}
	&.prop-1 {
		.prop {
			animation: 1.5s 0s infinite reverse animate__prop1;
		}
	}
	&.prop0 {
		.prop {
		}
	}
	&.prop1 {
		div {
			animation: 2s 0s infinite animate__prop1;
		}
	}
	&.prop2 {
		div {
			animation: 1.5s 0s infinite animate__prop1;
		}
	}
	&.prop3 {
		div {
			animation: 1s 0s infinite animate__prop1;
		}
	}
	&.prop4 {
		div {
			animation: 0.5s 0s infinite animate__prop1;
		}
	}
	&.prop5 {
		div {
			animation: 0.2s 0s infinite animate__prop1;
		}
	}
}
#speedboard {
	position: absolute;
	width: 12px;
	height: 50px;
	background-color: white;
	border-radius: 0.5rem;
	right: 39px;
	bottom: 12px;
	background-color: #ffffff33;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	color: white;
	overflow: hidden;
	#speedzero {
		position: absolute;
		width: 100%;
		height: 2%;
		top: 59%;
		background-color: rgba(255, 255, 255, 0.295);
	}
	#speedvisual {
		position: absolute;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		top: calc(59% - 2px);
		background-color: red;
		&.prop-2 {
			top: calc(100% - 2px);
		}
		&.prop-1 {
			top: calc(80% - 2px);
		}
		&.prop0 {
			top: calc(59% - 2px);
		}
		&.prop1 {
			top: calc(49% - 2px);
		}
		&.prop2 {
			top: calc(39% - 2px);
		}
		&.prop3 {
			top: calc(29% - 2px);
		}
		&.prop4 {
			top: calc(19% - 2px);
		}
		&.prop5 {
			top: calc(9% - 2px);
		}
	}
}
#speedboard2 {
	position: absolute;
	width: 12px;
	height: 50px;
	border-radius: 0.5rem;
	right: 12px;
	bottom: 12px;
	// background-color: #ffffff2d;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	color: white;
	overflow: hidden;
	.prop {
		width: 100%;
		height: calc((100%) / 8);
		background-color: #c8ff0050;
		margin-bottom: 1px;
		&.prop-1,
		&.prop-2 {
			background-color: #e606066b;
		}
		&.prop0 {
			background-color: #ff88008a;
		}
	}
	&.prop-2 .prop-2,
	&.prop-1 .prop-1 {
		background-color: #c70101;
	}
	&.prop0 .prop0 {
		background-color: #ff7b00;
	}
	&.prop1 .prop1,
	&.prop2 .prop2,
	&.prop3 .prop3,
	&.prop4 .prop4,
	&.prop5 .prop5 {
		background-color: #1eff00;
	}
}

@keyframes animate__prop1 {
	0% {
		transform: scale(1);
		bottom: 100%;
		opacity: 1;
	}
	100% {
		transform: scale(2);
		bottom: 0;
		opacity: 0;
	}
}
@keyframes animate__fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
@keyframes animate__fadeOut2 {
	0% {
		top: -100px;
		left: -100px;
	}
	25% {
		top: -150px;
		left: -150px;
	}
	50% {
		top: -100px;
		left: -100px;
	}
	75% {
		top: -150px;
		left: -150px;
	}
	100% {
		top: -100px;
		left: -100px;
	}
}
