:root {
	--screenborder: 32px;
	--outlined: 1px dotted rgba(255, 255, 255, 0.2);
}
*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	box-sizing: border-box;
}
body {
	overflow: hidden;
	#lunar {
		&.ddd {
			perspective: 1000vh;
			#cosmos {
				// -webkit-transform-style: preserve-3d;
				// transform-style: preserve-3d;
				transform-origin: center;
				-webkit-transform: rotateX(45deg); // translate3d(0, 0, -40px);
				transform: rotateX(45deg); // translate3d(0, 0, -40px);
				outline: 5px solid rgba(172, 255, 47, 0.116);
				transition: 10s transform ease-in-out;
			}
		}
	}
}
#pause {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	height: max-content;
	transform: translat(-50%, -50%);
	background-color: rgba(153, 205, 50, 0.3);
	color: white;
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-size: 1.5rem;
	display: none;
	&.active {
		display: initial;
	}
}
