.help {
  position: absolute;
  width: 100px;
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 10px;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 800;
  opacity: 1;
  -webkit-transition: left 0.5s ease, top 0.5s ease;
  transition: left 0.5s ease, top 0.5s ease;
  border: 2px solid rgba(172, 255, 47, 0.596);
  bottom: 0;
  left: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 999;
}

.help .helptxt {
  z-index: 999;
}

.help .square {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: calc(100% - 10px);
  background-color: aliceblue;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid rgba(172, 255, 47, 0.596);
  border-right: 2px solid rgba(172, 255, 47, 0.596);
}

.help.animate__fadeOut {
  -webkit-animation: 1s 3 animate__fadeOut;
          animation: 1s 3 animate__fadeOut;
}

.help.animate__fadeOut2 {
  -webkit-animation: 1s 3 animate__fadeOut2;
          animation: 1s 3 animate__fadeOut2;
}

.help.animate__stock {
  -webkit-animation: 2s 3 animate__stock;
          animation: 2s 3 animate__stock;
  bottom: -150%;
}

.help.animate__left {
  -webkit-animation: 1s 3 animate__left;
          animation: 1s 3 animate__left;
}

.help.animate__right {
  -webkit-animation: 1s 3 animate__right;
          animation: 1s 3 animate__right;
  left: 200%;
}

.help.animate__right .square {
  left: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-top: 2px solid rgba(172, 255, 47, 0.596);
  border-right: 2px solid rgba(172, 255, 47, 0.596);
}

.help.animate__empty {
  opacity: 0;
  z-index: -1;
  -webkit-animation: 1s 10s 1 animate__empty;
          animation: 1s 10s 1 animate__empty;
}

@-webkit-keyframes animate__fadeOut {
  0% {
    left: -120px;
  }
  50% {
    left: -150px;
  }
  100% {
    left: -120px;
  }
}

@keyframes animate__fadeOut {
  0% {
    left: -120px;
  }
  50% {
    left: -150px;
  }
  100% {
    left: -120px;
  }
}

@-webkit-keyframes animate__stock {
  0% {
    left: -150px;
  }
  50% {
    left: -180px;
  }
  100% {
    left: -150px;
  }
}

@keyframes animate__stock {
  0% {
    left: -150px;
  }
  50% {
    left: -180px;
  }
  100% {
    left: -150px;
  }
}

@-webkit-keyframes animate__fadeOut2 {
  0% {
    left: -120px;
  }
  50% {
    left: -150px;
  }
  100% {
    left: -120px;
  }
}

@keyframes animate__fadeOut2 {
  0% {
    left: -120px;
  }
  50% {
    left: -150px;
  }
  100% {
    left: -120px;
  }
}

@-webkit-keyframes animate__right {
  0% {
  }
  100% {
  }
}

@keyframes animate__right {
  0% {
  }
  100% {
  }
}

@-webkit-keyframes left {
  0% {
  }
  100% {
  }
}

@keyframes left {
  0% {
  }
  100% {
  }
}

@-webkit-keyframes animate__empty {
  0% {
  }
  100% {
  }
}

@keyframes animate__empty {
  0% {
  }
  100% {
  }
}

@-webkit-keyframes animate__left {
  0% {
    left: -120px;
  }
  50% {
    left: -150px;
  }
  100% {
    left: -120px;
  }
}

@keyframes animate__left {
  0% {
    left: -120px;
  }
  50% {
    left: -150px;
  }
  100% {
    left: -120px;
  }
}
/*# sourceMappingURL=help.css.map */