.help {
	position: absolute;
	width: 100px;
	background-color: rgba(240, 248, 255, 1);
	border-radius: 0.5rem;
	padding: 10px;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 800;
	opacity: 1;
	transition: left 0.5s ease, top 0.5s ease;
	border: 2px solid rgba(172, 255, 47, 0.596);
	// top: -100px;
	// left: calc(50% - 50px);

	bottom: 0; //-100px;
	left: -120px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.helptxt {
	}
	.square {
		position: absolute;
		width: 20px;
		height: 20px;
		bottom: 10px;
		left: calc(100% - 10px);
		background-color: rgba(240, 248, 255, 1);
		transform: rotate(45deg);

		border-top: 2px solid rgba(172, 255, 47, 0.596);
		border-right: 2px solid rgba(172, 255, 47, 0.596);
	}
	&.animate__fadeOut {
		animation: 1s 3 animate__fadeOut;
	}
	&.animate__fadeOut2 {
		animation: 1s 3 animate__fadeOut2;
	}
}
@keyframes animate__fadeOut {
	0% {
		// top: -100px;
		left: -120px;
	}
	50% {
		// top: -150px;
		left: -150px;
	}
	100% {
		// top: -100px;
		left: -120px;
	}
}
@keyframes animate__fadeOut2 {
	0% {
		left: -120px;
	}
	50% {
		left: -150px;
	}
	100% {
		left: -120px;
	}
}
